<app-main-nav></app-main-nav>
<div class="container">
    <h3 class="title">Lista delle classi che accedono al laboratorio</h3>
    <div *ngIf="warning" class="alert alert-danger" role="alert">
      {{warning}}
    </div>
    <button class="btn btn-success" type="button" id="addClass" (click)="open(content)">Aggiungi classe</button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id Classe</th>
                <th>Nome</th>
                <th>Anno scolatico</th>
                <th>Autorizzazione</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of classi">
                <td>{{c.id_classe}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.anno_scolastico}}</td>
                <td>
                  <div *ngIf="c.enabled == 1;then content else other_content">here is ignored</div>
                  <ng-template #content>
                    <input #enable type="checkbox"  value="{{c.id_classe}}" (click)="validationClass(enable)" checked>
                  </ng-template>
                  <ng-template #other_content>
                    <input #enable type="checkbox" value="{{c.id_classe}}" (click)="validationClass(enable)">
                  </ng-template>
                </td>
                <td>
                  <button #filterStudent type="button" class="btn btn-info bottone" value="{{c.id_classe}}" (click)="openStudent(student, filterStudent.value)"> Visualizza studenti</button>
                  <button #modifyClass type="button" class="btn btn-primary bottone" value="{{c.id_classe}}" (click)="openClassModify(modify, modifyClass.value)"> Modifica classe</button>
                  <button #delete type="button" class="btn btn-danger bottone" value="{{c.id_classe}}" (click)="deleteClass(delete.value)"> Elimina classe</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi classe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="nomec" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Anno scolatisco</label>
        <div class="input-group">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="anno_scolastico" [ngModelOptions]="{standalone: true}" (keyup)="onKey($event)" required>{{next_anno_scolastico}}
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addClass()">Aggiungi</button>
  </div>
</ng-template>

<ng-template #student let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Studenti della classe {{id_classe}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Username</th>
                <th>Classe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studente of elencoStudenti">
              <td>{{studente.nome}}</td>
              <td>{{studente.cognome}}</td>
              <td>{{studente.username}}</td>
              <td>{{studente.id_classe}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</ng-template>

<ng-template #modify let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica classe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="classe.nome" value="{{classe.nome}}" required [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group" required>
        <label for="dateOfBirth">Anno scolatisco</label>
        <div class="input-group">
          <input type="number" class="form-control" [(ngModel)]="classe.anno_scolastico" value="{{classe.anno_scolastico}}" required [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modifyClass()">Modifica</button>
  </div>
</ng-template>
