<app-main-nav></app-main-nav>
<div class="container">
  <h3 class="title"><strong>Lista delle classi che accedono al laboratorio</strong></h3>
  <button class="btn btn-success" type="button" id="addClass" (click)="open(content)">Aggiungi classe</button>
	<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Nome</th>
        <th class="center_object">Anno scolatico</th>
        <th class="center_object">Autorizzazione</th>
        <th class="center_object">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of classi | paginate: { itemsPerPage: 20, currentPage: p }">
        <td class="center_object">{{c.nome}}</td>
        <td class="center_object">{{c.anno_scolastico}}</td>
        <td class="center_object">
          <div *ngIf="c.enabled == 1;then content else other_content">here is ignored</div>
            <ng-template #content>
            <input #enable type="checkbox"  value="{{c.id_classe}}" (click)="validationClass(enable)" checked>
          </ng-template>
          <ng-template #other_content>
            <input #enable type="checkbox" value="{{c.id_classe}}" (click)="validationClass(enable)">
          </ng-template>
        </td>
        <td class="center_object">
          <div>
            <button #filterStudent type="button" ngbTooltip="Visualizza studenti" class="btn btn-info fa fa-eye" value="{{c.id_classe}}" (click)="openStudent(student, filterStudent.value)"></button>
            <button #modifyClass type="button" ngbTooltip="Modifica classe" class="btn btn-primary fa fa-edit" value="{{c.id_classe}}" (click)="openClassModify(modify, modifyClass.value)"></button>
            <button #delete type="button" ngbTooltip="Elimina classe" class="btn btn-danger fa fa-trash" value="{{c.id_classe}}" (click)="deleteClass(delete.value)"></button>
  			  </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Aggiungi classe</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="nomec" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Anno scolatisco</label>
        <div class="input-group">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="anno_scolastico" [ngModelOptions]="{standalone: true}" (keyup)="onKey($event)" required>{{next_anno_scolastico}}
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="addClass()" style="display: inline;">Aggiungi</button>
  </div>
</ng-template>

<ng-template #student let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Studenti della classe {{id_classe}}</h4>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Username</th>
                <th>Classe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studente of elencoStudenti">
              <td>{{studente.nome}}</td>
              <td>{{studente.cognome}}</td>
              <td>{{studente.username}}</td>
              <td>{{studente.id_classe}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Chiudi</button>
  </div>
</ng-template>

<ng-template #modify let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifica classe</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="classe.nome" value="{{classe.nome}}" required [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group" required>
        <label for="dateOfBirth">Anno scolatisco</label>
        <div class="input-group">
          <input type="number" class="form-control" [(ngModel)]="classe.anno_scolastico" value="{{classe.anno_scolastico}}" required [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="modifyClass()"  style="display: inline;">Modifica</button>
  </div>
</ng-template>
<app-main-footer></app-main-footer>
