<!-- <header></header> -->
<div class='window'>
  <div class='overlay'></div>
  <div class='content'>
    <img id="center" src="assets/images/marconiHD.png" class="img-responsive" width="200">
    <form id="form_login" class="input-fields">

      <br>
      <input type="text" id="username" name="username" placeholder="Username" class="input-line full-width">
      <input type="password" id="password" name="password" placeholder="Password" class="input-line full-width">

      <input type="button" value="Entra" (click)="fakelogin()" class="button-class full-width">
    </form>
  </div>
</div>
