version: '3'

services:
  nginx:
    container_name: build_nginx
    build: ../
    environment:
      - NGINX_PORT=80
    networks:
      - proxy
    container_name: admin-nginx
    expose:
      - 80
    labels:
      - "traefik.port=80"
      - 'traefik.backend=labmanager-admin'
      - 'traefik.enable=true'
      - "traefik.frontend.rule=Host:admin.marconi.demo.vivedo.me"

networks:
  proxy:
    external: true
