version: '3'

services:
  nginx:
    container_name: nginx
    image: nginx:alpine
    environment:
      - NGINX_PORT=80
    volumes:
      - dist:/var/www/app/
    networks:
      - proxy
    container_name: admin-nginx
    expose:
      - 80
    labels:
      - "traefik.port=80"
      - 'traefik.backend=traefik'
      - 'traefik.enable=true'
      - "traefik.frontend.rule=Host:admin.marconi.demo.vivedo.me"
    
  build:
    container_name: admin-build
    build: ../
    volumes:
      - ../:/app/
      - dist:/app/dist/

volumes:
  dist:

networks:
  proxy:
    external: true