<nav class="navbar navbar-expand-lg static-top custom-bgcolor">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img src="" src="assets/images/marconiHD.png" alt="QRMarconi - LOGO">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/class">Classi</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/teacher">Docenti</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/student">Studenti</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/tool">Torni e Attrezzi</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/analitycs">Statistiche</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" (click)="fakelogout()">Logout</a>
        </li>
      </ul>
      <ul class="nav pull-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userString}}<b class="caret"></b></a>
              <ul class="dropdown-menu">

                  <li><a (click)="logout()"><i class="icon-off"></i>Esci</a></li>
              </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
