.custom-bgcolor{
  background-color: #fafafa;
}

nav{
	padding: 0;
	border-bottom: 10px solid #71c7ec;
	outline: 5px solid rgba(128,128,128,0.1);
	height: 75px;
}

.navbar-toggler{
	
}

.nav-link{
	padding-top: 35px;
	padding-bottom: 0;
}

nav a{
	transition: 0.25s;
	color: #71c7ec;
	position: relative;
	border-left: 1px solid rgba(255,255,255,0);
	border-right: 1px solid rgba(255,255,255,0);
	border-top: 3px solid rgba(255,255,255,0);
	border-bottom: 3px solid rgba(255,255,255,0);
	font-weight: bold;
}

nav a:hover:not(.navbar-brand){
	transition: 0.25s;
	color: #61b7dc;
	background-color: #f5f5f5;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	border-bottom: 3px solid #deebfc;
	border-top: 3px solid #deebfc;
	text-shadow: 3px 3px 0px #deebfc;
}

nav img{
	transform: translate(-50%, -50%);
	position: absolute;
	width: 100px;
	padding: 2px;
	top: 30px;
	transition: 0.25s;
	filter: drop-shadow(0px 0px 1px #71c7ec);
}

nav img:hover{
	top: 25px;
	transition: 0.25s;
}