.btn{
  margin: 2.5px;
}
.center_object{
   text-align: center;
}
#addCategory, #addTool{
  margin:15px;
  margin-left:0px;
}
.title{
  margin:15px;
  text-align: center;
}
.pagination{
  float:right;
}
input[type=checkbox]{
   /* Double-sized Checkboxes */
   -ms-transform: scale(1.5); /* IE */
   -moz-transform: scale(1.5); /* FF */
   -webkit-transform: scale(1.5); /* Safari and Chrome */
   -o-transform: scale(1.5); /* Opera */
   padding: 5px;
}