<app-main-nav></app-main-nav>
<div class="container">
    <h3 class="title"><span>Lista degli strumenti del laboratorio</span></h3>
	
	
	<div class="_table">
    <button class="btn btn-success" type="button" id="set" (click)="open(content)">aggiungi categoria</button>
    <table>
        <thead>
            <tr>
                <th>Id Categoria</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of Categorie">
                <td>{{c.id_categoria}}</td>
                <td>{{c.nome}}</td>
      
            </tr>
        </tbody>
    </table>
  <hr>
  <button class="btn btn-success" type="button" id="set" (click)="open(content)">aggiungi utensile</button>
    <table>
      <thead>
          <tr>
              <th>Id utensile</th>
              <th>Nome</th>
              <th>Segnala</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of Utensili">
              <td>{{u.id_categoria}}</td>
              <td>{{u.nome}}</td>
              <td><input type="checkbox" name="" [(ngModel)]="u.segnala" id=""></td>
           
          </tr>
      </tbody>
  </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi categoria</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomec" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Anno scolatisco</label>
        <div class="input-group">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="anno_scolastico" [ngModelOptions]="{standalone: true}" (keyup)="onKey($event)" required>{{anno_scolastico}}
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addClass(nome.value)">Aggiungi</button>
  </div>
</ng-template>
