<app-main-nav></app-main-nav>
<div class="container">
  <h3 class="title"><span>Lista degli strumenti del laboratorio</span></h3>
  <button class="btn btn-success" type="button" id="addCategory" (click)="open(content)">Aggiungi categoria</button>
  <div *ngIf="warning" class="alert alert-danger" role="alert">
    {{warning}}
  </div>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Descrizione</th>
        <th class="center_object">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categorie | paginate: { itemsPerPage: 10, currentPage: pc, id: 'cc' }">
        <td class="center_object">{{c.nome}}</td>
        <td class="center_object">
          <button #modifyCategoria type="button" ngbTooltip="Modifica categoria" class="btn btn-primary fa fa-edit" value="{{c.id_categoria}}" (click)="openCategoriaModify(modifyCategoriaPopUp, modifyCategoria.value)"></button>
          <button #delete type="button" ngbTooltip="Elimina categoria" class="btn btn-danger fa fa-trash" value="{{c.id_categoria}}" (click)="DeleteCategoria(delete.value)"></button>
          <button type="button" ngbTooltip="Genera QR" class="btn btn-warning fa fa-qrcode" (click)="generateqrcat(c.id_categoria)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="pc = $event" id="cc"></pagination-controls>
  </div>
  <button class="btn btn-success" type="button" id="addTool" (click)="open(content1)">Aggiungi utensile</button>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Descrizione</th>
        <th class="center_object">Categoria</th>
        <th class="center_object">Segnala</th>
        <th class="center_object">Blocca</th>
        <th class="center_object">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of utensili | paginate: { itemsPerPage: 20, currentPage: pu, id: 'u' }" [ngClass]="{'table-warning': u.segnala, 'table-danger': u.locked}">
        <td class="center_object">{{u.nome}}</td>
        <td class="center_object">{{u.categoria}}</td>
        <td class="center_object">
          <div *ngIf="u.segnala == 1;then content else other_content"></div>
          <ng-template #content>
            <input #enable type="checkbox"  value="{{u.id_utensile}}" (click)="removeAlert(enable.value)" checked>
          </ng-template>
          <ng-template #other_content>
            <input type="checkbox" value="{{u.id_utensile}}" disabled>
          </ng-template>
        </td>
        <td class="center_object" >
          <div *ngIf="u.locked == 1;then content1 else other_content1">here is ignored</div>
          <ng-template #content1>
            <input  #enable type="checkbox"  value="{{u.id_utensile}}" (click)="lockf(enable.value,enable.checked)" checked>
          </ng-template>
          <ng-template #other_content1>
            <input #enable type="checkbox" value="{{u.id_utensile}}" (click)="lockf(enable.value,enable.checked)" id="checkbox">
          </ng-template>
        </td>
        <td class="center_object">
          <button #modifyUtensile type="button" ngbTooltip="Modifica utensile" class="btn btn-primary fa fa-edit" value="{{u.id_utensile}}" (click)="openUtensileModify(modifyUtensilePopUp, modifyUtensile.value)"></button>
          <button #delete type="button" ngbTooltip="Elimina utensile" class="btn btn-danger fa fa-trash" value="{{u.id_utensile}}" (click)="DeleteUtensile(delete.value)"></button>
          <button class="btn btn-warning fa fa-qrcode" ngbTooltip="Genera QR" type="button" id="set" (click)="generateqrtool(u.id_utensile)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="pu = $event" id="u"></pagination-controls>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi categoria</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="AddCategoria(nome.value)">Aggiungi</button>
  </div>
</ng-template>

<ng-template #modifyCategoriaPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica categoria</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="ModifyCategoria(nome.value)">Modifica</button>
  </div>
</ng-template>




<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi attrezzo</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <form>
	  <div class="form-group">
        <label>Seleziona la categoria</label>
        <div class="input-group">
          <select class="form-control" (change)="onChangeCategoria($event.target.value)">
            <option value=""></option>
            <option *ngFor="let c of categorie" value="{{c.id_categoria}}">{{c.nome}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="AddAttrezzo(nome.value)">Aggiungi</button>
  </div>
</ng-template>

<ng-template #modifyUtensilePopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica categoria</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <form>
	  <div class="form-group">
        <label>Categoria</label>
        <div class="input-group">
          <select class="form-control" (change)="onChangeCategoria($event.target.value)" [value]='id_categoria'>
            <option value=""></option>
            <option *ngFor="let c of categorie" value="{{c.id_categoria}}">{{c.nome}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="ModifyUtensile(nome.value)">Modifica</button>
  </div>
</ng-template>
