<app-main-nav></app-main-nav>
<div class="container">
    
    <div *ngIf="warning" class="alert alert-danger" role="alert">
      {{warning}}
    </div>
	
	<hr class="margin" style="height: 50px">
	<h3 class="title"><span>Lista degli strumenti del laboratorio</span></h3>
	
	<div class="_table">
	<div class="selects">
    <button class="" type="button" id="set" (click)="open(content)">aggiungi categoria</button>
	</div>
	<hr class="pageline">
    <table>
        <thead>
            <tr>
                <th>Id Categoria</th>
                <th>Nome</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of categorie">
                <td>{{c.id_categoria}}</td>
                <td>{{c.nome}}</td>
                <td>
				  <button class="showActions" data-status="close">▼</button>
				  <div class="ActionsDiv" >
				  <div>
                  <button #modifyCategoria type="button" class="" value="{{c.id_categoria}}" (click)="openCategoriaModify(modifyCategoriaPopUp, modifyCategoria.value)"> Modifica categoria</button><br>
                  <button #delete type="button" class="" value="{{c.id_categoria}}" (click)="DeleteCategoria(delete.value)"> Elimina categoria</button><br>
				  </div>
				  </div>
                </td>
            </tr>
        </tbody>
    </table>
	</div>
	
  <hr class="margin">
  
	<div class="_table">
	<div class="selects">
  <button class="" type="button" id="set" (click)="open(content1)">Aggiungi utensile</button>
  </div>
	<hr class="pageline">
    <table>
      <thead>
          <tr>
              <th>Id utensile</th>
              <th>Nome</th>
              <th>Categoria</th>
              <!-- <th>Segnala</th> -->
              <th>Azioni</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of utensili">
              <td>{{u.id_utensile}}</td>
              <td>{{u.nome}}</td>
              <td>{{u.categoria}}</td>
              <td>
                <!--
                <div *ngIf="u.segnala == 1;then content else other_content">here is ignored</div>
                <ng-template #content>
                  <input #enable type="checkbox"  value="{{u.id_utensile}}" checked (click)="removeAlert(enable.value)">
                </ng-template>
                <ng-template #other_content>
                  <input #enable type="checkbox" value="{{u.id_utensile}}">
                </ng-template>
                -->
              </td>
              <td>
				  <button class="showActions" data-status="close">▼</button>
				  <div class="ActionsDiv" >
				  <div>
                <button #modifyUtensile type="button" class="" value="{{u.id_utensile}}" (click)="openUtensileModify(modifyUtensilePopUp, modifyUtensile.value)"> Modifica utensile</button><br>
                <button #delete type="button" class="" value="{{u.id_utensile}}" (click)="DeleteUtensile(delete.value)"> Elimina utensile</button><br>
				  </div>
				  </div>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi categoria</h4>
    <button type="button" class="_close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="" (click)="AddCategoria(nome.value)">Aggiungi</button>
  </div>
</ng-template>

<ng-template #modifyCategoriaPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica categoria</h4>
    <button type="button" class="_close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="" (click)="ModifyCategoria(nome.value)">Modifica</button>
  </div>
</ng-template>




<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi attrezzo</h4>
    <button type="button" class="_close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <form>
	<hr class="margin">
      <div class="form-group">
        <label>Seleziona la categoria</label>
        <div class="input-group">
          <select class="form-control" (change)="onChangeCategoria($event.target.value)">
            <option value=""></option>
            <option *ngFor="let c of categorie" value="{{c.id_categoria}}">{{c.nome}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="" (click)="AddAttrezzo(nome.value)">Aggiungi</button>
  </div>
</ng-template>

<ng-template #modifyUtensilePopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica categoria</h4>
    <button type="button" class="_close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nome</label>
        <div class="input-group">
          <input #nome="ngModel" type="text" class="form-control" [(ngModel)]="nomeInput" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
    <form>
	<hr class="margin">
      <div class="form-group">
        <label>Categoria</label>
        <div class="input-group">
          <select class="form-control" (change)="onChangeCategoria($event.target.value)" [value]='id_categoria'>
            <option value=""></option>
            <option *ngFor="let c of categorie" value="{{c.id_categoria}}">{{c.nome}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="" (click)="ModifyUtensile(nome.value)">Modifica</button>
  </div>
</ng-template>
