:focus { }

.container{
    margin-top: 10px;
  }

.bottone{
  margin: 5px;
}

.title{
  color: #525252;
  text-align: center;
  margin-top: 25px;
  font-size: 300%;
  font-weight:normal;
}

.title span{
	color: #497caf;
	padding: 3px 25px;
	border-radius: 5px;
	border-bottom: 1px solid #dadada;
}

button{
	padding: 10px;
	font-size: 110%;
	text-align: left;
	border-radius: 0px;
	border: 1px solid #dadada;
	background-color:#fff;
	transition: 0.25;
	color: #3a3a3a;
	transition: 0.25s;
	box-shadow: 0px 2px 0px 0px rgba(242,242,242,1);
	border-radius: 7px;
	background-color: #f3f8fd;
}

button:hover:not(.close){
	transition: 0.25s;
	background-color: #fafafa;
	
}

/* table */

.margin{
	border: 0;
	margin: 0;
	margin-top: 25px;
}

.total{
	width: 100%;
}

._table{
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 7px;
	border: 1px solid #dadada;
	padding: 25px;
	box-shadow: 0px 5px 0px 0px rgba(242,242,242,1);
	border-top: 10px solid rgba(137, 188, 239,0.2);
}

._table table{
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	color: #9a9a9a;
	padding: 5px;
	box-shadow: 0px 2px 0px 0px rgba(242,242,242,1);
}

._table tr{
	transition: 0.25s;
	background-color: white;
}

._table tr:nth-child(odd){
}

._table tr:nth-child(even){
	background-color: #fafafa;
}

._table tr:hover{
	transition: 0.25s;
	background-color: #f3f8fd;
}

._table th{
	transition: 0.25s;
	color: #89bcef;
	/* background-color: #effff4; */
	padding: 5px 10px;
	
	font-size: 25px;
	font-weight: normal;
	
	border-bottom: 2px solid #dadada;
	border-right: 2px solid white;
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 97%, rgba(218,218,218,1) 97%, rgba(218,218,218,1) 100%);
}

._table td{
	padding: 3px 7px;
	transition: 0.25s;
}

._table tr:hover th{
	transition: 0.25s;
	color: #99ccff;
}

._table tr:hover td{
	transition: 0.25s;
	color: #3a3a3a;
}