<app-main-nav></app-main-nav>
<div class="container">
  <h3 class="title"><strong>Docenti</strong></h3>
  <button class="btn btn-success" type="button" id="addTeacher" (click)="open(content)">Aggiungi Docente</button>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Id Docente</th>
        <th class="center_object">Nome</th>
        <th class="center_object">Cognome</th>
        <th class="center_object">Username</th>
        <th class="center_object">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of docenti | paginate: { itemsPerPage: 10, currentPage: p }">
        <td class="center_object">{{d.id_docente}}</td>
        <td class="center_object">{{d.nome}}</td>
        <td class="center_object">{{d.cognome}}</td>
        <td class="center_object">{{d.username}}</td>
        <td class="center_object">
			    <button #modifyDocente type="button" ngbTooltip="Modifica docente" class="btn btn-primary fa fa-edit" value="{{d.id_docente}}" (click)="openDocenteModify(modify, modifyDocente.value)"></button>
          <button #delete type="button" ngbTooltip="Elimina docente" class="btn btn-danger fa fa-trash" value="{{d.id_docente}}" (click)="deleteDocente(delete.value)"></button>
          <button #reset type="button" ngbTooltip="Reset Password" class="btn btn-warning fa fa-key" value="{{d.id_docente}}" (click)="resetPassword(reset.value)"></button>
			  </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi docente</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
	    <div class="form-group" required>
        <label for="dateOfBirth">Cognome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="cognome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="addDocente()">Aggiungi</button>
  </div>
</ng-template>

<ng-template #modify let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica docente</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
	    <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Cognome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="cognome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="modifyDocente()">Modifica</button>
  </div>
</ng-template>
