<app-main-nav></app-main-nav>
<div class="container">
    
    <div *ngIf="warning" class="alert alert-danger" role="alert">
      {{warning}}
    </div>
    
	<div class="_table">
	<h3 class="title"><span>Docenti</span></h3>
	<hr class="pageline">
	<div class="selects">
	<button class="" type="button" id="addStudent" (click)="open(content)">Aggiungi Docente</button>
	</div>
	<hr class="pageline">
	<table>
        <thead>
            <tr>
                <th>Id Docente</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Username</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
		<tr>
		<!--
                <td>d.id_docente</td>
                <td>d.nome</td>
                <td>d.cognome</td>
                <td>d.username</td>
                <td>
				<button class="showActions" data-status="close">▼</button>
				<div class="ActionsDiv" >
				<div>
                  <button #modifyDocente type="button" class="total"  (click)="openDocenteModify(modify, modifyDocente.value)"> Modifica docente</button><br>
                  <button #delete type="button" class="total"  (click)="deleteDocente(delete.value)"> Elimina docente</button><br>
				</div>
				</div>
                </td>
            </tr>
			-->
            <tr *ngFor="let d of docenti">
                <td>{{d.id_docente}}</td>
                <td>{{d.nome}}</td>
                <td>{{d.cognome}}</td>
                <td>{{d.username}}</td>
                <td>
				<button class="showActions" data-status="close">▼</button>
				<div class="ActionsDiv" >
				<div>
                  <button #modifyDocente type="button" class="total" value="{{d.id_docente}}" (click)="openDocenteModify(modify, modifyDocente.value)"> Modifica docente</button><br>
                  <button #delete type="button" class="total" value="{{d.id_docente}}" (click)="deleteDocente(delete.value)"> Elimina docente</button><br>
				</div>
				</div>
                </td>
            </tr>
        </tbody>
    </table>
	</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi docente</h4>
    <button type="button" class="_close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
	<hr class="margin">
      <div class="form-group" required>
        <label for="dateOfBirth">Cognome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="cognome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="" (click)="addDocente()">Aggiungi</button>
  </div>
</ng-template>

<ng-template #modify let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica docente</h4>
    <button type="button" class="_close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
	<hr class="margin">
      <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Cognome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="cognome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="" (click)="modifyDocente()">Modifica</button>
  </div>
</ng-template>
