<app-main-nav></app-main-nav>
<div class="container">
  <h3 class="title"><strong>Lista degli studenti</strong></h3>
  <div class="filtro">
    <div class="form-group">
      <label>Filtra per classe</label>
      <select class="form-control" [(ngModel)]="id_classe_input" (change)="onChangeIdClasse($event.target.value)">
        <option *ngFor="let c of classi" value="{{c.id_classe}}">{{c.nome}}</option>
      </select>
    </div>
  	<div class="form-group">
      <label>Filtra per anno scolatico</label>
      <select class="form-control" [(ngModel)]="anno_scolastico_input" (change)="onChangeAnnoScolastico($event.target.value)">
        <option *ngFor="let anno of anno_scolastico_array" value="{{anno}}">{{anno}}</option>
      </select>
    </div>
    <button class="btn btn-success" type="button" id="addStudent" (click)="open(content)">Aggiungi studente</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Nome</th>
        <th class="center_object">Cognome</th>
        <th class="center_object">Username</th>
        <th class="center_object">Id Classe</th>
        <th class="center_object">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of studenti | paginate: { itemsPerPage: 6, currentPage: p }">
        <td class="center_object">{{s.nome}}</td>
        <td class="center_object">{{s.cognome}}</td>
        <td class="center_object">{{s.username}}</td>
        <td class="center_object">{{s.classe}}</td>
        <td class="center_object">
          <button #groupmates type="button" ngbTooltip="Visualizza membri del gruppo" class="btn btn-success fa fa-eye" value="{{s.id_gruppo}}" (click)="openGroupMates(group, groupmates.value)"></button>
          <button class="btn btn-info fa fa-wrench" ngbTooltip="Strumenti in uso" type="button" (click)="getInUseTools(tools,s.id)"></button>
          <button #modifyStudent type="button" ngbTooltip="Modifica studente" class="btn btn-primary fa fa-edit" value="{{s.id}}" (click)="openStudentModify(modify, modifyStudent.value)"></button>
          <button #reset type="button" ngbTooltip="Reset Password" class="btn btn-warning fa fa-key" value="{{s.id}}" (click)="resetPassword(reset.value)"></button>
          <button #delete type="button" ngbTooltip="Elimina studente" class="btn btn-danger fa fa-trash" value="{{s.id}}" (click)="deleteStudent(delete.value)"></button>
				</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiungi studente</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Cognome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="cognome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="form-group" required>
        <label>Classe</label>
        <select class="form-control" [(ngModel)]="id_classe" (change)="onChangeIdClasseForAdd($event.target.value)">
          <option *ngFor="let c of classi" value="{{c.id_classe}}">{{c.nome}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-success" (click)="addStudent()">Aggiungi</button>
  </div>
</ng-template>

<ng-template #modify let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica studente</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Cognome</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="cognome" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
      <div class="form-group" id="input_anno_scolastico" required>
        <label for="dateOfBirth">Classe</label>
        <div class="input-group">
          <input type="number" class="form-control" [(ngModel)]="id_classe" [ngModelOptions]="{standalone: true}" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="modifyStudent()">Modifica</button>
  </div>
</ng-template>

<ng-template #group let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Studenti del gruppo</h4>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studente of studenti_per_gruppo">
              <td>{{studente.nome}}</td>
              <td>{{studente.cognome}}</td>
              <td>{{studente.username}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Chiudi</button>
  </div>
</ng-template>

<ng-template #tools let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Strumenti in uso</h4>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tool of useTools">
              <td>{{tool.nome}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Chiudi</button>
  </div>
</ng-template>
<app-main-footer></app-main-footer>