@keyframes example {
  0%   {
	  opacity: 0;
	  top: 10%;
	  box-shadow: 0px 0px 0px 0px #f0f0f0;
	  filter: blur(60px);
	 font-size: 100%;
	  }
  25%  {
	  top: 50%;
	  filter: blur(0px);
	  opacity: 1;
	  }
	  75%  {
	  }
  100% {
	 box-shadow: 70px 70px 7px 0px #f0f0f0;
	font-size: 300%;
	}
}

.inside{
	
	
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	
	border: 1px solid #d3d3d3;
	padding: 25px;
	border-radius: 7px;
	text-align: center;
	box-shadow: 70px 70px 7px 0px #f0f0f0;
	filter: blur(0px);
	font-size: 300%;
	background-color: white;
	
	animation-name: example;
	animation-timing-function: cubic-bezier(.62,.13,0,1.06) ;
	animation-duration: 1.5s;
}

.inside h1{
	color: #71c7ec;
	padding: 3px 25px;
	border-radius: 5px;
	border-bottom: 1px solid #dadada;
	
	font-size: 250%;
}

.inside img{
	width: 200px;
}

hr.pageline{
    overflow: visible; /* For IE */
    padding: 0;
    color: #71c7ec;
    text-align: center;
	
	margin: 35px;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(113, 199, 236, 0.75), rgba(0, 0, 0, 0));
	transition: 0.25s;
}

hr.pageline:after {
    content: "♦";
    display: inline-block;
    position: relative;
    top: -0.7em;
    padding: 0 0.25em;
    background: white;
}