<app-main-nav></app-main-nav>
<div class="container">
  <h3 class="title"><strong>Lista degli attrezzi rotti o smarriti</strong></h3>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Nome</th>
        <th class="center_object">Categoria</th>
        <th class="center_object">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of deletedTool | paginate: { itemsPerPage: 15, currentPage: p }">
        <td class="center_object">{{d.nome}}</td>
        <td class="center_object">{{d.categoria}}</td>
        <td class="center_object">
          <button #reset type="button" ngbTooltip="Restore utensile" class="btn btn-info fa fa-window-restore" value="{{d.id_utensile}},{{d.id_categoria}}" (click)="restoreUtensile(reset.value)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div class="container">
  <h3 class="title1"><strong>Lista degli attrezzi con il relativo utilizzo</strong></h3>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Nome</th>
        <th class="center_object">Utilizzi</th>
        <th class="center_object">Tempo di utilzzo</th>
        <th class="center_objext">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usedTool | paginate: { itemsPerPage: 15, currentPage: p }">
        <td class="center_object">{{u.nome}}</td>
        <td class="center_object">{{u.utilizzi}}</td>
        <td class="center_object">{{convertTime(u.secondi)}}</td>
        <td class="center_object">
          <button #storico type="button" ngbTooltip="Info utilizzi" class="btn btn-info fa fa-question" value="{{u.id_utensile}}" (click)="openStoricoClassi(Info, storico.value)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>


<ng-template #Info let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Lista degli utilizzi </h4>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Classe</th>
                <th>Utilizzi</th>
                <th>Inizio</th>
                <th>Fine</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of storico">
              <td>{{s.classe}}</td>
              <td>{{s.uttilizzi}}</td>
              <td>{{s.inizio}}</td>
              <td>{{s.fine}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss()" style="display: inline;">Chiudi</button>
  </div>
</ng-template>